*{
    padding:  0;
    margin: 0;
    box-sizing:  border-box;
    font-size: 'sans-serif';
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #fff;
    --text-color:#fff;
    --main-color:#27ae60;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;

    background: #000;
    height:65px;
    line-height: 80px;
    font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
 .main a{
        margin-right: 25px;
        margin-left: 10px;
        color: var(--text-color);  
    }
.main i {
    color: var(--main-color);
     
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.main a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media(max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;

    }
}
@media(max-width:1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
}


body{
    margin: 0;
    background: #eee;
}
p{
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding-top: 16px;
    color: rgb(22 48 48);
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 50px 1px;
    flex-direction: row-reverse;
    align-items: baseline;
}

.content{
    width: 21%;
    margin: 19px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 41px;
    cursor: pointer;
    padding-top: 0px;
    box-shadow: 0 21px 29px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    transition: .4s;
    background: rgb(241 238 236);
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
    ,0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
img{
    height: 250px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
li{
    padding-top: 5px;
    color: white;

}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;

}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1{
    background: #2183a8;
}
.buy-2{
    background: #21a87b;
}
.buy-3{
    background: #21a821;
}
.buy-4{
    background: #9821a8;
}
.buy-5{
    background: #3988a5;
}
.buy-6{
    background: #08bdff;
}
.buy-7{
    background: #66848f;
}
.buy-5 a{
    color: #FFF;
}
.buy-7 a{
    color: #FFF;
}
.buy-8 a{
    color: #FFF;
}
.buy-9 a{
    color: #FFF;
}
.buy-10 a{
    color: #FFF;
}
.buy-11 a{
    color: #FFF;
}
.buy-12 a{
    color: #FFF;
}
.buy-1 a{
    color: #FFF;
}
.buy-2 a{
    color: #FFF;
}
.buy-4 a{
    color: #FFF;
}
.buy-3 a{
    color: #FFF;
}
.buy-6 a{
    color: #FFF;
}
.buy-8{
    background: #2183a8;
}
.buy-9{
    background: #2183a8;
}
.buy-10{
    background: #2183a8;
}
.buy-11{
    background: #2183a8;
}
.buy-12{
    background: #2183a8;
}
@media (max-width:1000px) {
    .content{
        width: 45%;
    }
}
@media (max-width:750px) {
    .content{
        width: 100%;
    }
}



.container{
    max-width: 1170px;
    margin:auto;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul{
    list-style:none;
}
.footer{
    background-color: #000;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 52px;
}
.footer-col ul{
    flex-direction: column;
}

.footer-col h4{
    font-size:18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #27ae60;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#2426;
    background-color: #ffffff;
}

@media(max-width:574px){
    .footer-col{
        width: 100%;
    }

}