@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--green);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background: var(--dark-color);
}

section {
  padding: 5rem 9%;
}
.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
}
:root{
  --bg-color: #fff;
  --text-color:#fff;
  --main-color:#27ae60;
}
body{
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 12%;
  transition: all .50s ease;
 font-family: sans-serif;
  background: #000;
  height: 80px;
  line-height: 80px;
  font-weight: bold;
}
.logo{
  display: flex;
  align-items: center;
}
.logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}
.logo span{
  color: var(--text-color);
  font-size: 2.7rem;
  font-weight: 600;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
}
.navbar a:hover{
  color: var(--main-color);    
  font-size: 1.7rem;

}
.navbar a.active{
  color: var(--main-color);
  font-size: 1.7rem;

}
.main{
  display: flex;
  align-items: center;
}
.main a{
      margin-right: 25px;
      margin-left: 10px;
      color: var(--text-color);  
      font-size: 1.7rem;
  }
.main i {
  color: var(--main-color);
   
}
.user i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 7px;
}
.main a:hover{
  color: var(--main-color);
}
#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}
@media(max-width: 1280px){
  header{
      padding: 14px 2%;
      transition: .2s;
  }
  .navbar a{
      padding: 5px 0;
      margin: 0px 20px;

  }
}
@media(max-width:1090px){
  #menu-icon{
      display: block;
  }
  .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 29vh;
      background: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
  }
  .navbar a{
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all .50s ease;
      font-size: 1.6rem;
  }
  .navbar a:hover{
      color: var(--text-color);
      transform: translateY(5px);
  }
  .navbar a.active{
      color: var(--text-color);
  }
  .navbar.open{
      right: 2%;
  }
}
.navbar{
  list-style: none;
  font-size: 'sans-serif';

}


.home {
  background: url(img/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 55px;

}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content {
  flex: 1 1 42rem;
}

.home .row .books-slider {
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .books-slider a img {
  height: 25rem;
}

.home .row .books-slider a:hover img {
  transform: scale(0.9);
}

.home .row .books-slider .stand {
  width: 100%;
  margin-top: -2rem;
}

.home .row .content h3 {
  color: var(--black);
  font-size: 4.5rem;
}

.home .row .content p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.icons-container .icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0;
}

.icons-container .icons i {
  font-size: 3.5rem;
  color: var(--green);
}

.icons-container .icons h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.icons-container .icons p {
  font-size: 1.4rem;
  color: var(--light-color);
}

.newsletter {
  background: url(img/letter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.newsletter form {
  max-width: 45rem;
  margin-left: auto;
  text-align: center;
  padding: 5rem 0;
}

.newsletter form h3 {
  font-size: 2.2rem;
  color: #fff;
  padding-bottom: 0.7rem;
  font-weight: normal;
}

.newsletter form .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 0.5rem;
  text-transform: none;
}

.deal {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.deal .content {
  flex: 1 1 42rem;
}

.deal .image {
  flex: 1 1 42rem;
}

.deal .image img {
  width: 100%;
}

.deal .content h3 {
  color: var(--green);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.deal .content h1 {
  color: var(--black);
  font-size: 4rem;
}

.deal .content p {
  padding: 1rem 0;
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.reviews .reviews-slider .box {
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.reviews .reviews-slider .box:hover {
  border: var(--border-hover);
}

.reviews .reviews-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-slider .box h3 {
  color: var(--black);
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

.reviews .reviews-slider .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .reviews-slider .box .stars {
  padding-top: 0.5rem;
}

.reviews .reviews-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }
  .home .row .content {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.container{
  max-width: 1170px;
  margin:auto;
  box-sizing: border-box;
}
.row{
  display: flex;
  flex-wrap:wrap;
}
ul{
  list-style:none;
}

.footer{
  background-color: #000;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 52px;
}
.footer-col ul{
  flex-direction: column;
}

.footer-col h4{
  font-size:18px;
  color:#ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #27ae60;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;

}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color:#ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color:#2426;
  background-color: #ffffff;
}

@media(max-width:574px){
  .footer-col{
      width: 100%;
  }

}

